das:
  url: http://localhost:8092
  grpc:
    ip: localhost
    port: 9090

management:
  endpoints:
    web:
      exposure:
        include: # This enable all actuator endpoints. For production usage open only needed config
          '*'
spring:
  output:
    ansi:
      enabled: # Shows console output with colors
        ALWAYS

public-key: >
  -----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAocs6752BX8E9sUSkP0nn
  Qlp9QNtTsBHB/jFZOro2ayCf203u3DHCPrLpLDZyrqAasIRRxKAAMNfmhl7/Hgg5
  FKeLp8rKEavlDTblVfVLvBmYpoJMxE2RumW4SdyP56LNnSlY49srflyiJyd9w+m0
  vVxMpXPT1RWTv+FJibVB8asqyUWW5sJgQ8Cr3PLI8KDCcwSpjlkkack3vB2ZiFtZ
  VPntj4C6+/o5hcPgUeLVOFjH1H9zJP/ELLcueZtSbRo4J1CJsLUyY3ZCIk84wZwf
  ielygT6Yl3tNqGGnxm7moXO8+y5uJZymoMqEhV5OnlolpAb/VuGZviv932fWzEMR
  jwIDAQAB
  -----END PUBLIC KEY-----
