server:
  port: 8094

private-key: >
  -----BEGIN PRIVATE KEY-----
  MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQChyzrvnYFfwT2x
  RKQ/SedCWn1A21OwEcH+MVk6ujZrIJ/bTe7cMcI+suksNnKuoBqwhFHEoAAw1+aG
  Xv8eCDkUp4unysoRq+UNNuVV9Uu8GZimgkzETZG6ZbhJ3I/nos2dKVjj2yt+XKIn
  J33D6bS9XEylc9PVFZO/4UmJtUHxqyrJRZbmwmBDwKvc8sjwoMJzBKmOWSRpyTe8
  HZmIW1lU+e2PgLr7+jmFw+BR4tU4WMfUf3Mk/8Qsty55m1JtGjgnUImwtTJjdkIi
  TzjBnB+J6XKBPpiXe02oYafGbuahc7z7Lm4lnKagyoSFXk6eWiWkBv9W4Zm+K/3f
  Z9bMQxGPAgMBAAECggEBAIZnN1xaMWEEPGWIKhFRKUVbunUoPcsj1U1+XSuGCTLQ
  9TrO8MAGreA766uIx5f89G7yXKLEb6QjliLFw5SFLDXWQRNwSJCJhUuG8NiJXxKx
  CLg5wd/IuGhpm7/v87Nu8PO/p1IRfX4JIcL48WbQPA6aICnJoI2A0S4yzk4RPuir
  /+gS+Owgn1Wa+R7nHH/zWdsy4C6llrCl3zD7MhIXPTrRq3qhmcvKhadWNCtmw4eL
  faVmcJqjdAeAiPD1aysXRPXQKyRx5NMWYdbCihWaCLKNtb/YcW+GULQGF0VzcGuK
  cK8VPG4jC15cKXGeUKXXn9qd5hku7e/K5J01BLpp2AECgYEA1YJnSNlFn/i1F01n
  0dusLixgzMt3Ud9vIASQ35gdKqxlC8zJCFBRwTmjxQKeZuiKG/mEc3RWSFp3a0Vy
  GDMtWxgeJNy4MVO8LQ6Y01LESSWVMXsYc+rf68skxk4CK+NOGohb2fPXVFCf+eKl
  hfPRctMJQqTeZBpLnZJaDKXAI48CgYEAwf4XmhLSYbYCt8WSE+k8C4DvZvjbC341
  Q+7WQ7yRgmVdBIl8cCos5bgsp5RlOrxqRcskk3oPKXr4/dV0vFD+EGmKZY8J/F0t
  PHLDFDSjWXqAxgPkGUuBspAKuta/oXpHslXA7c2wxme3npL/pUHoV/72J1jEs7HZ
  AEo5jvrfMgECgYEAwxVAnA5yEIXlqSH/z38hJptD4zuxjWxTE/U4DiTl2XzlYs+9
  i8wftyacXcFTzIGC16a3/+n3gGqwnKI6aqQwOACkYlgOMHvq/1xMBSKl2JPvauOn
  ZxrfeIoH0u2qDEHHtnSLQG0NfauhUGhnhypNYNY0quELlnl0R8hWYSH9mj8CgYEA
  lCEs7oZuxRPRcXhYugF/yxzyMYPW5yjBDZWDYQfNaG90HrHJJnDeBa+j0Xa78aTL
  1W1wCXjLuRXgqRrkX6PMzMV6W2Bk9KJFl4HeOkCTdxDW4d04wKPqbmoU92RhwbD4
  rFFU14EX+fhauqhus0bnXsIePh9HXBtyowkKeIZSBgECgYAg/qrk3yWgAP2TGtLW
  7lkQorHftuhuAiirXSD8JZ3RVZ50u9iZbsTNH5Jkvy7k+UMVwAxHoQYgZJRF4K8k
  xfdbnvKi3Tu8AqIqoEa4BStXvB61m0KcPcZNEZZPpy1ql7iUuu+1VKnyRsE7gl1b
  KnEM6YMz+TW2igQqp2UKjBrwJQ==
  -----END PRIVATE KEY-----

token: 
