!build.gradle
!gradle
!gradlew
!gradlew.bat
!gradle/**
!gradle.properties
!settings.gradle
!.run
!.run/**
!src-rx
/src-rx/gradle.properties
/src-rx/rxconfig/*.yaml
.gradle
.idea/
WebContent/
build/
gradle.properties
modules/
modules_js/
config
