.DS_Store
/bin
/src-rx/logs
/modules_rx
/src-rx/gradle.properties
/src-rx/rxconfig/*.yaml
.gradle
.idea/
WebContent/
build/
gradle.properties
modules/
modules_js/
config
/src-rx/modules_gen/com.etendorx.entitiesModel/src/
/src-rx/modules_gen/com.etendorx.entities/src/
