context.name=etendo
bbdd.sid=etendo
bbdd.port=5432
bbdd.systemUser=postgres
bbdd.systemPassword=syspass
bbdd.user=tad
bbdd.password=tad
bbdd.host=localhost

githubUser=
githubToken=
nexusUser=
nexusPassword=

rx.computedColumns=true
rx.views=true
